<div class="episode">
	<div class="side">
		<div class="number"><%= @episode.sequence %></div>
		<div class="published_at"><%= display_published_at(@episode) %> </div>
	</div>
	<div class="main">
		<h2><%= @episode.title %></h2>
		<div class="description">
			<%= raw(@episode.description) %>
		</div>
		<div class="download">
			<%= link_to "Download", @episode.download_link %>
			
			<span class="stats"> (<%= @episode.size %> MB, <%= @episode.duration %>)</span>
		</div>
		<div>
			Tags: <%= @episode.tag_list.join(", ") %>
		</div>
		
	  <%= link_to 'Show', admin_episode_path(@episode) %>
	  <%= link_to 'Edit', edit_admin_episode_path(@episode) %> 
	  <%= link_to 'Destroy', :controller=>"admin/episodes", :action=>"destroy" %>
	</div>
 
</div>
