<fieldset>
<legend></legend>

<% for episode in @episodes %>

<div class="episode">
	<div class="side">
		<div class="number"><%= episode.sequence %></div>
		<div class="published_at"><%= episode.published_at.to_s(:long) %> </div>
	</div>
	<div class="main">
		<h2><%= episode.title %></h2>
		<div class="description">
			<%= raw(episode.description) %>
		</div>
		<div class="download">
			<span class="stats"> (<%= episode.size %> MB, <%= episode.duration %>)</span>
		</div>
		<div>
			Tags: <%= episode.tag_list.join(", ") %>
		</div>
	  <%= link_to 'Show', admin_episode_path(episode)  %>
	  <%= link_to 'Edit', edit_admin_episode_path(episode) %>
	</div>
 
</div>
<% end %>

<br />

<%= link_to 'New episode', new_admin_episode_path %>

</fieldset>
