<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">

<head>
  <title> <%= @page_title || "Free Ruby and Rails Screencasts"  %> </title>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <%= stylesheet_link_tag :all, :cache => true  %>
  <%= javascript_include_tag :all, :cache => true  %>
  <%= include_tiny_mce_if_needed %>

</head>

  <body>

<!-- ##### Header VER 0.39 ##### -->    
	<div id="header">
		<div class="superHeader" id="login">
		    <span>Welcome Guest</span>
	    </div>
	  
      <div class="midHeader">
        <h1 class="headerTitle" lang="la">Ruby Plus</h1>
        <div class="headerSubTitle" title="Free Ruby and Rails Screencasts">
          	<%= link_to 'Free Ruby and Rails Screencasts', episodes_url   %>
        </div>
      </div>

	  <div class="subHeader">
		<span class="doNotDisplay">Navigation:</span>
		<%= link_to 'Home', episodes_url   %> |
		<%= link_to 'Testimonials', testimonials_url %>
		
	  </div>
	
    </div>
		
	<div id="side-bar">

    	 <!-- ##### Left Sidebar ##### -->
		
	      <div class="leftSideBar">

			   <p class="sideBarTitle" align="center">Ruby Meetup</p>
			    <div class="box">
			      <span class="sideBarText" align="center">
				     If you live in the bay area, check out 
			         <%= link_to 'Silicon Valley Ruby Meetup', 'http://www.meetup.com/silicon-valley-ruby/' %>
			     </span>
			    </div>	
							
		  </div>
	
    <!-- ##### Right Sidebar ##### -->
	
		
	<div class="rightSideBar">
		
		 <p class="sideBarTitle"  align="center">Recommend Me</p>
		  <div class="badge" align="center"><a href="http://www.workingwithrails.com/recommendation/new/person/8567-bala-paranj"><img alt="Recommend Me" src="http://workingwithrails.com/images/tools/compact-small-button.jpg" /></a>
		 </div>
		
		<div>
			<p class="sideBarTitle"  align="center">Help Me</p>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="3FJRL47Q42V9C">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>		
			 <p class="sideBarTitle"  align="center">Bookmark this Site</p>
			  <div class="badge" align="center">
				<script type="text/javascript">
				  addthis_url    = location.href;  
				  addthis_title  = document.title; 
				  addthis_pub    = 'bparanj';    
				</script><script type="text/javascript" src="http://s7.addthis.com/js/addthis_widget.php?v=12" ></script>
			 </div>
			
			 <p class="sideBarTitle"  align="center">Required</p>
			  <div class="badge" align="center"><a href="http://www.apple.com/quicktime/download/"><img src="/images/quicktime.gif" width="88" height="31" alt="Get Quicktime Player" /></a>
			 </div>
			
	</div>	
	
	
    <!-- ##### Main Copy ##### -->

    <div id="main-copy">
	
		
		<% flash.each do |key,value| %>
		<div id="flash" class="flash_<%= key %>" >
			<span class="message"><%= value %></span>
		</div>
		<% end -%>

		<%= yield :layout %>
		
			
		<div align="center">
      		<a href="http://www.workingwithrails.com/recommendation/new/person/8567-bala-paranj">
			   <img alt="Recommend Me" src="http://workingwithrails.com/images/tools/compact-med-button.jpg" />
			</a>
		</div>
    </div>


    <!-- ##### Footer ##### -->

    <div id="footer">
      <div class="doNotPrint">
	            <a href="/privacy" class="lbOn">Privacy Policy</a> 

        <!-- <a href="./index.html">Tell a Friend</a> |
                <a href="./index.html">Site Map</a> |
                <a href="./index.html">Feedback</a> |
                <a href="./index.html">Help</a> -->
      </div>

      <div>
        Copyright &copy; 2007 - 2011, rubyplus.org
      </div>
    </div>

  </body>
</html>