<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">

<head>
  <title> <%= @page_title || "Free Ruby and Rails Screencasts"  %> </title>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <% if @meta_description %>
    <meta name="description" content= <%= @meta_description %> /> 
  <%- end -%>

  <%= yield :meta_keywords %>

  <%= stylesheet_link_tag :all, :cache => true  %>
  <%= javascript_include_tag :all, :cache => true  %>

</head>

  <body>

<!-- ##### Header VER 0.39 ##### -->    
	<div id="header">
		<div class="superHeader" id="login">
		 <% if user_logged_in? %>
		    <span>You are logged in as: </span>
		 	<%= current_user.login %>
		 <% else %>
		    <span>Welcome Guest</span>
		 <% end %>
	    </div>
	  
      <div class="midHeader">
        <h1 class="headerTitle" lang="la">Ruby Plus</h1>
        <div class="headerSubTitle" title="Free Ruby and Rails Screencasts">
          	<%= link_to 'Free Ruby and Rails Screencasts', episodes_url   %>
        </div>
      </div>

	  <div class="subHeader">
		<span class="doNotDisplay">Navigation:</span>
		<%= link_to 'Home', episodes_url   %>
		| <%= link_to 'Services', services_url  %>	
		| <%= link_to 'Mentoring', coaching_url  %>	
		<% if user_logged_in? %> 
		  | <%= link_to 'Logout', logout_url %>
		  | <%= link_to 'Contact', new_contact_url  %>
		<% else %>
		 | <%= link_to 'Login', login_url  %>
		 | <%= link_to "Signup", signup_url  %>
		<% end %>	
		|   <%= link_to 'Archive', archive_episodes_url  %>
		| <%= link_to 'RSS Feed', "http://feeds.feedburner.com/rubyplus"  %>
		
	  </div>
	
    </div>
		
	<div id="side-bar">

    	 <!-- ##### Left Sidebar ##### -->
		
	      <div class="leftSideBar">
			<p class="sideBarTitle" align="center">Search</p>
		    <div >
		      <span class="sideBarText" align="center">
				<% form_tag search_episodes_path, :method => :get do -%> 
				<div align="left" id="search"> 
				<%= text_field_tag :q, params[:q], :class => 'text' %>&nbsp;<br> 
				<%= submit_tag 'Go', :class => 'button' %> 
				</div> 
				<% end -%>
		      </span>
		    </div>
		
		    <p class="sideBarTitle" align="center">Services</p>
		    <div class="box">
		      <span class="sideBarText" align="center">
		       <%= link_to 'Hire Us', new_contact_url %> 
		      </span>
		    </div>

		    <p class="sideBarTitle" align="center">Become a Member</p>
		    <div class="box">
		      <span class="sideBarText" align="center">
		        <%= link_to "Sign up", signup_url  %> for free membership and get notifications for members only free Ruby and Rails screencasts.  <a href="/privacy" class="lbOn">Privacy</a>
		     </span>
		
		    </div>
		<!-- Change the announcement to Referral Program with details here... -->
			   <!-- <p class="sideBarTitle" align="center">Announcement</p>
			  			    <div class="box">
			  			      <span class="sideBarText" align="center">
			  			        I have turned off caching due to members having problems accessing the archive.
			  			     </span>
			  			    </div> -->
			   <p class="sideBarTitle" align="center">Rails Meetup</p>
			    <div class="box">
			      <span class="sideBarText" align="center">
				     If you live in the bay area, check out 
			         <%= link_to 'Silicon Valley Ruby Meetup', 'http://ruby.meetup.com/99' %>
			     </span>
			    </div>	
			   <p class="sideBarTitle" align="center">Home Office</p>
			
				 <div class="box">
			       <span class="sideBarText" align="center">
				     For those who are curious, here is my 
			         <%= link_to 'Home Office', 'http://www.rubyplus.org/images/home_office.jpg', :target => "_blank"  %>
			       </span>
			     </div>
				
		  </div>
	
    <!-- ##### Right Sidebar ##### -->
	
		
	<div class="rightSideBar">
		
		 <p class="sideBarTitle"  align="center">Recommend Me</p>
		  <div class="badge" align="center"><a href="http://www.workingwithrails.com/recommendation/new/person/8567-bala-paranj"><img alt="Recommend Me" src="http://workingwithrails.com/images/tools/compact-small-button.jpg" /></a>
		 </div>
			
		 <p class="sideBarTitle"  align="center"> Please Support</p>
		  <div class="badge" align="center">
				<a href="https://secureusa.greenpeace.org/securedonate/index.php?from=aboutusredbutton" target="_blank"><img src="http://www.greenpeace.org/international/assets/graphics/buttonrainbow120x60" border="0" alt="Greenpeace"></a>
		 </div>
			
			 <p class="sideBarTitle"  align="center">Subscribe to RSS</p>
			  <div class="badge" align="center">
				<a href="http://feeds.feedburner.com/rubyplus" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/></a><a href="http://feeds.feedburner.com/rubyplus" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"> </a>
			 </div>
			
			 <p class="sideBarTitle"  align="center">Bookmark this Site</p>
			  <div class="badge" align="center">
				<script type="text/javascript">
				  addthis_url    = location.href;  
				  addthis_title  = document.title; 
				  addthis_pub    = 'bparanj';    
				</script><script type="text/javascript" src="http://s7.addthis.com/js/addthis_widget.php?v=12" ></script>
			 </div>
			
			 <p class="sideBarTitle"  align="center">Required</p>
			  <div class="badge" align="center"><a href="http://www.apple.com/quicktime/download/"><img src="/images/quicktime.gif" width="88" height="31" alt="Get Quicktime Player" /></a>
			 </div>
			
	</div>	
	
	
    <!-- ##### Main Copy ##### -->

    <div id="main-copy">
	
		
		<% flash.each do |key,value| %>
		<div id="flash" class="flash_<%= key %>" >
			<span class="message"><%= value %></span>
		</div>
		<% end -%>

		<%= yield :layout %>
		
		<div class="badge" align="center">
		<p><a href="http://feeds.feedburner.com/rubyplus"><img src="http://feeds.feedburner.com/~fc/rubyplus?bg=33CCFF&amp;fg=444444&amp;anim=0&amp;label=listeners" height="26" width="88" style="border:0" alt="" /></a></p>
		</div>
			
		<div align="center">
      		<a href="http://www.workingwithrails.com/recommendation/new/person/8567-bala-paranj">
			   <img alt="Recommend Me" src="http://workingwithrails.com/images/tools/compact-med-button.jpg" />
			</a>
		</div>
    </div>


    <!-- ##### Footer ##### -->

    <div id="footer">
      <div class="doNotPrint">
	            <a href="/privacy" class="lbOn">Privacy Policy</a> |
				<a href="/sitemap.xml">Site Map</a>
        <!-- <a href="./index.html">Tell a Friend</a> |
                <a href="./index.html">Site Map</a> |
                <a href="./index.html">Feedback</a> |
                <a href="./index.html">Help</a> -->
      </div>

      <div>
        Copyright &copy; 2007 - 2008, rubyplus.org
      </div>
    </div>

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-358645-2");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script>
	
	
	<script src="http://static.getclicky.com/36034.js" type="text/javascript"></script>
	
	<script src="http://rubyplus.uservoice.com/pages/general/widgets/tab.js?alignment=left&amp;color=00BCBA" type="text/javascript"></script>
  </body>
</html>